:root {
	--primary-color: #367b92;
  --secondary-color: #6eb0c8;
  --accent1-color: #f59432;
	--accent2-color: #ffffff;
	--accent3-color: #06232d;
}


/*----------- BODY --------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: var(--accent3-color);
}

header, main {
    margin: auto;
}


/*----------- HEADER --------------*/

header {
    background-color: var(--primary-color);
    display: grid;
    grid-gap: 1rem;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #050505;
    color: white;
}


.navigation {
    display: none;
}

/* Small view navigation and BUTTON hamburguer menu */

.image-logo {
    margin-top: 10px;
}

#menu {
	font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 300;
	border: 0;
	background: none;
	color: white;
 	position: absolute;
    top: 1.2rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

/* ▼ */

#menu.open::before {
	content: "☰";
    color: #f59432;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.navigation.open {
	display: block;
}

nav {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}



/*----------- MAIN --------------*/

.thanks-page {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
    margin-top: 120px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 40px;
    text-align: center;
    display: block;
    color: var(--accent2-color);
	box-sizing: border-box;
}


/*----------- HERO SECTION --------------*/


.hero-img2 {
    display: none;
}

.hero-content h2 {
    color: var(--accent2-color);
    text-align: center;
    font-weight: 900;
    font-size: 34px;
    margin-top: -100px;
    padding: 25px;
}

.hero-content p {
    color: var(--accent2-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 35px;
    font-size: 14px;
}

.flexbox-button a {
    display: block;
    text-decoration: none;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    margin: 40px;
    font-weight: 800;
    margin-top: -20px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.hero-content a:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}


.hero-content .hero-img1 {
    max-width: 100%;
}


/*----------- CARDS SECTION --------------*/

.card-container {
    margin-top: 80px;
}


.card-grid {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    justify-content: center;
    max-width: 100%;
    margin: 0 40% 0 40%;
    padding: 40px;
    gap: 40px;
}

.title {
    position: relative;
    color: var(--secondary-color);
    margin-bottom: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    bottom: 10px;
    background-image: linear-gradient(#0a3b4b, #072935);
    margin-bottom: 10px;
    max-width: 100%;
    padding: 8px;
    margin: 0 35% 0 35%;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.4);
}

.title-border {
    position: relative;
    color: var(--secondary-color);
    margin-bottom: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    bottom: 10px;
    background-image: linear-gradient(#0a3b4b, #072935);
    margin-bottom: 10px;
    max-width: 100%;
    padding: 8px;
    margin: 0 30% 0 30%;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.4);
}

.subtitle {
    display: block;
    color: var(--accent2-color);
    margin-bottom: auto;
    text-align: center;
    font-size: 24px;
}

.card-content {
    background-color: #0a3b4b;
    border-radius: 12px;
    padding: 20px;
    color: var(--accent2-color);
    border: solid 1px rgba(255, 255, 255, 0.4);
}


.image img {
    align-items: center;
    width: 320px;
    margin: -20px -20px 20px -20px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 12px 12px 0 0;
}

.card-content h2 {
    font-size: 28px;
    font-weight: 900;
    color: var(--accent2-color);

}

.text h3 {
    font-size: 14px;
    color: var(--accent1-color);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text h4 {
    font-size: 12px;
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: 25px;
}

.text p {
    font-size: 12px;
    line-height: 20px;
    color: var(--accent2-color);
}

.card-content .highlight {
    font-weight: 800;
}

.card-content a {
    display: block;
    text-decoration: none;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    margin: 30px 5px 0 5px;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}



.card-content .button-1:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.card-content .button-2 {
    border: solid 1px #f59432;
    background-color: #0a3b4b;
    font-weight: 600;
    margin-top: 10px;
}

.card-content .button-2:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    box-shadow: 0 0 16px rgb(30, 30, 30, 0.4);
    border: none;
}


/*--------- FILTER SECTION ----------*/


/* General styles for the filter menu */
.filters {
    display: flex;
    gap: 20px;
    margin: 20px;
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        gap: 10px;
    }

    .filters label, .filters select {
        width: 100%;
    }

    .filters label {
        color: #6eb0c8;
        padding-top: 10px;
        margin-top: 80px;
    }

    .filters label,
    .filters select,
    .filters button {
        margin-bottom: -90px;
    }


    .filters select,
    .filters button {
        padding: 10px;
        font-size: 16px;
        background-image: linear-gradient(#0a3b4b, #072935);
        border-radius: 8px;
        border: solid 1px rgba(255, 255, 255, 0.4);
        margin-top: 80px;
        margin-right: 20px;
        color: var(--secondary-color);
    }
    
    .filters select {
        background-color: #06232d;
    }


    .filter-menu h3 {
        margin-top: 80px;
        margin-bottom: -40px;
        font-size: 44px;
    }

    .title-border {
        display: none;
    }



}



/*----------- FOOTER --------------*/

footer {
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.highlight {
    font-weight: 600;
}
