:root {
	--primary-color: #367b92;
  --secondary-color: #6eb0c8;
  --accent1-color: #f59432;
	--accent2-color: #ffffff;
	--accent3-color: #06232d;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}


/*----------- HEADER --------------*/


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    display: block;
    text-align: center;
    font-weight: 900;
    margin-top: 40px;
    color: var(--accent2-color);
}





/*----------- FORM STYLING --------------*/


.wf1 fieldset {
    background-color: var(--accent2-color);
    margin: 2rem 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: .5rem 2%;
}




.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #367b92;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}


.wf1 input[type="date"],
.wf1 select
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 200px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}


.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="number"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 300px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}


.wf1 textarea
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 300px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 6px;
}

.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(#f59432, #bc5e00);
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.wf1 input[type="submit"]:hover {
    background-image: linear-gradient(#367b92, #1e4552);
    color: var(--accent2-color);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.wf1 label input:required {
    border-left: solid 6px #f59432;
}

.wf1 label input:required:valid {
    border-left: solid 6px #367b92;
}

.wf1 select:required {
    border-left: solid 6px #f59432;
}

.wf1 select:required:valid {
    border-left: solid 6px #367b92;
}



/*----------- FOOTER --------------*/
footer {
    background-color: #6eb0c8;
    padding: .5rem 2%;
    text-align: center;
    color: #000;
    font-size: 14px;
}
