/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 640px) {

    

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header {
    max-width: 100%;
}

/*----------- MAIN --------------*/

main {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    align-content: center;
    align-items: center;
    display: block;
}

h2 {
    font-size: 44px;
}

.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="text"],
.wf1 textarea,
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="number"]
{
    margin-left: 5px;
}

.wf1 label {
    margin-left: 35px;
}

.wf1 input[type="date"],
.wf1 select
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 200px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 input[type="text"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 textarea
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 1.75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 input[type="submit"]
{
    border: none;
    background-image: linear-gradient(#f59432, #bc5e00);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 70%;
    max-width: 400px;
    margin: -1rem 15% 2rem 15%;
    
}


/*----------- FOOTER --------------*/
    
footer {
    background-color: #6eb0c8;
    padding: .5rem 2%;
    text-align: center;
    color: #000;
    font-size: 14px;
    max-width: 100%;
}


} /* end of media query */