
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: rgb(27, 38, 53);
    color: white;
    max-width: 1200px;
    justify-content: center;
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

header, main {
    margin: 50px 50px 100px 100px;

}

h1 {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    margin: 0 auto;
    max-width: 800px;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
        list-style-type: none;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

nav .navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    color: aqua;
    padding: 10px;
}

nav a:hover {
    text-decoration: overline;
    background-color: #030721;
    border-radius: 25px;
}

h2 {
    font-weight: 800;
}

