



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    max-width: 1600px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: rgb(27, 38, 53);
    background-color: #06053C;
    color: white;
    justify-content: center;
}

/* HEADEAR */

.navegation {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 200px;
}

header, main {
    margin: 20px 20px 20px 20px;

}

h1 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: aqua;
    margin: -20px;
    margin-bottom: 10px;
    padding: 10px;
    color: #19174B;
}


nav {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    border-radius: 4px;
    margin-left: 480px;
    font-size: 14px;
}

nav ul {
    width: 500px;
}



nav .navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
}

nav a:hover {
    background-color: #030721;
    color: aqua;
    border-radius: 25px;
    padding: 8px;
}

.image-logo {
    float: left;
    width: 60px;
    margin-bottom: 20px;
    margin-left: -250px;
    margin-top: -15px;
}

.flexbox-button {
    float: right;
    margin-bottom: 20px;
    margin-right: -300px;
    margin-top: -355px;
}

/* MAIN */


main .hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.hero-content img {
    position: absolute;
    width: 1800px;
    z-index: -1;
    top: 10px;
    left: 0px;
}

.hero-content .flexbox-container {
    margin-top: -40px;
}

.flexbox-container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 200px;
    left: 26%;
    right: 25%;
}


.hero h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 800;
    margin-top: -20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 20px;
    color:rgb(110, 150, 150)
}

.hero .button {
    display: inline-block;
    background-color: aqua;
    color: #030721;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.hero .button:hover {
    background-color: #032240;
    color: aqua;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
}

.card.about { /* Added specific class for the Web Dev Resources section */
    grid-column: 1; /* Placing it in the first column */
}

.card {
    background-color: #19174B;
    color: white;
    padding: 20px;
    margin: 20px;
    margin-left: 2px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.link a:hover {
    color: yellow;
}

.card-content p {
    overflow: hidden;
}

.text {
    float: right;
    width: calc(100% - 270px);
    margin-top: 30px;
}

.images {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.image {
    margin-left: 20px;
    margin: 20px;
    margin-top: 40px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    background-color: white;
    color: #030721;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-weight: 800;
}

.card h3 {
    text-align: left;
    color: white;
    margin-left: -25px;
}

.card p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: -25px;
}

.card li {
    margin-top: 20px;
    margin: 20px;
    color: yellow;
}

.card a {
    color: aqua;
}

.card ul {
    padding-top: 25px;
}

footer {
    background-color: #273344;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

.highlight {
    color: yellow;
}


@media (min-width: 640px) {
	nav ul {
		display: flex;
        list-style-type: none;
        width: 500px;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}